<%- include("header") -%>

<div>
    <p> This is the about us page </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dignissimos impedit quis accusantium sed ut porro rerum? Ea enim doloribus quia provident, incidunt obcaecati quasi neque earum? Necessitatibus, ducimus! Quo?</p>
</div>

<%- include("footer")  -%>